---
layout: default
---
<link href="bower_components\lightbox2\dist\css\lightbox.css" rel="stylesheet">
<script src="http://christianspecht.de/js/jquery-1.10.2.min.js"></script>
<script src="http://christianspecht.de/js/lightbox-2.6.min.js"></script>
<link href="http://christianspecht.de/css/lightbox.css" rel="stylesheet" />


<section class="box special features">
  <h2>GALERI</h2>
  <br>
<div class="">
<p>default header for all gallery pages</p>

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h1>{{ gallery.description }}</h1>
    <ol>
    {% for image in gallery.images %}
      <li>
        {{ image.text }}<br>
        <a href="{{ gallery.imagefolder }}/{{ image.name }}"
        data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
      </li>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}

<p>default footer for all gallery pages</p>

<section class="box special features">
  <h2>GALERI</h2>
  <br>
<div class="">

<section class="tiles">
  <article >
    <span class="image">
      <a href="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-1.jpg" data-lightbox="albumtua-hasil-restorasi-foto-dan-pewarnaan-1" data-title="My caption"> gambar 1 </a>
    </span>
  </article>
  <article >
    <span class="image">
      <img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-2.jpg" alt="" />
    </span>
  </article>
  <article class="">
    <span class="image">
      <img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-3.jpg" alt="" />
    </span>
  </article>
  <article >
    <span class="image">
      <img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-3.jpg" alt="" />
    </span>
  </article>
  <article >
    <span class="image">
      <img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-4.jpg" alt="" />
    </span>
  </article>
  <article class="">
    <span class="image">
      <img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-5.jpg" alt="" />
    </span>
  </article>
	<article class="">
		<span class="image">
			<img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-6.jpg" alt="" />
		</span>
	</article>
	<article class="">
		<span class="image">
			<img src="/assets/images/portfolio/albumtua-hasil-restorasi-foto-dan-pewarnaan-7.jpg" alt="" />
		</span>
	</article>
</div>
</sectiom>

<script src="bower_components\lightbox2\dist\js\lightbox.js"></script>
