<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">ALBUMTUA</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
				<li><a href="{{ site.baseurl }}/harga.html">Harga</a></li>
				<li><a href="{{ site.baseurl }}/galeri.html">Galeri</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/blog" class="icon fa-angle-down">Tentang Kami</a>
					<ul>
							<li> <a href="#">Hubungi Kami</a></li>
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/order-restorasi.html" class="button">Order Restorasi</a></li>
			</ul>
		</nav>
	</header>
